/* styles.css */

/* Apply Roboto font to the entire page */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  background-color: #7e2929;
  display: flex; /* Makes it inline horizontally */
  justify-content: space-around;
  padding: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  background-color: #555;
  padding: 0.5rem;
}

.navbar a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Section headers */
section {
  padding: 2rem;
}

h1, h2 {
  color: #222;
}

/* Footer styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
